.sectionRotate {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  // padding-bottom: 400px;
}

.planet {
  transform: translateX(50px) translateY(-100px);
}

@media screen and (max-width: 1030px) {
  .img1 {

    .img2 {
      transform: translateY(250px) translateX(-150);
    }
  }
}